In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rocha,UY,2020-08-22 19:34:41,-34.48,-54.33,57.90,62,0,4.56
1,1,Georgetown,MY,2020-08-22 19:29:54,5.41,100.34,80.60,88,40,1.48
2,2,Krapkowice,PL,2020-08-22 19:34:41,50.48,17.97,66.99,96,100,1.01
3,3,Avarua,CK,2020-08-22 19:34:41,-21.21,-159.78,73.40,83,64,8.05
4,4,Esperance,AU,2020-08-22 19:34:42,-33.87,121.90,50.00,87,40,12.75

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Georgetown,MY,2020-08-22 19:29:54,5.41,100.34,80.60,88,40,1.48
9,9,Kapaa,US,2020-08-22 19:34:43,22.08,-159.32,84.20,66,1,14.99
11,11,Hithadhoo,MV,2020-08-22 19:34:43,-0.60,73.08,83.35,79,0,14.52
15,15,Dicabisagan,PH,2020-08-22 19:34:44,17.08,122.42,79.43,82,98,4.09
20,20,Albany,US,2020-08-22 19:30:25,42.60,-73.97,86.00,44,11,8.86
21,21,Puerto Ayora,EC,2020-08-22 19:34:45,-0.74,-90.35,75.20,60,67,17.22
22,22,Vaini,TO,2020-08-22 19:34:46,-21.20,-175.20,75.20,94,20,6.93
27,27,Lusambo,CD,2020-08-22 19:34:47,-4.97,23.45,76.50,74,100,3.29
28,28,Mitsamiouli,KM,2020-08-22 19:34:47,-11.38,43.28,77.00,78,20,4.27
29,29,Butaritari,KI,2020-08-22 19:34:48,3.07,172.79,82.72,65,84,6.98

In [10]:
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
1     Georgetown      MY     80.60   5.41  100.34
9          Kapaa      US     84.20  22.08 -159.32
11     Hithadhoo      MV     83.35  -0.60   73.08
15   Dicabisagan      PH     79.43  17.08  122.42
20        Albany      US     86.00  42.60  -73.97
21  Puerto Ayora      EC     75.20  -0.74  -90.35
22         Vaini      TO     75.20 -21.20 -175.20
27       Lusambo      CD     76.50  -4.97   23.45
28   Mitsamiouli      KM     77.00 -11.38   43.28
29    Butaritari      KI     82.72   3.07  172.79

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Georgetown,MY,80.60,5.41,100.34,Cititel Penang
9,Kapaa,US,84.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
11,Hithadhoo,MV,83.35,-0.60,73.08,Scoop Guest House
15,Dicabisagan,PH,79.43,17.08,122.42,
20,Albany,US,86.00,42.60,-73.97,

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [16]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))